html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 30%;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid black;


}

img {
    width: 500px;
    height: 333px;
    text-align: center;
    padding: 20px;
}

.buttons {
    border: 1px solid #48B7FF;
    background-color: white;
    color: #48B7FF;
    padding: 10px 20px;
    margin: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.buttons:hover {
    background-color: #48B7FF;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #48B7FF;
    color: white;
}

.content {
    margin: 0 auto;
    max-width: 640px;
    text-align: center;
    padding: 20px;

}